<a href="/" >homepage</a>

<h1>
search results for <span style="color: green;"><%= query %></span>
</h1>
<%= total.value %> results

<ul>
<% hits.forEach((hit) => { %>
  <li>
    <p>
      <% if (hit.highlight.title) { %>
        <b><%- hit.highlight.title[0] %></b>
      <% } else { %>
        <b><%= hit._source.title %></b>
      <% } %>
      - <i><%= hit._source.download_count %> downloads</i>
      <br/>
        <% if (hit.highlight["authors.name"]) { %>
          <% hit.highlight["authors.name"].forEach((author) => { %>
            <%- author %>
          <% }) %>
        <% } else { %>
          <% hit._source.authors.forEach((author) => { %>
            <%- author.name %>
        <% }) %>
        <% } %>
    <ul>
        <% hit._source.subjects.forEach((subject) => { %>
          <li>
            <%= subject %>
          </li>
      <% }) %>
    </ul>
    </p>
  </li>
<% })%>
</ul>
