<a href="/" >homepage</a>

<h1>
search results for <i><%= query %></i>
</h1>
<%= total.value %> results

<ul>
<% hits.forEach((hit) => { %>
  <li>
    <p>
      <b><%= hit._source.title %></b> - <i><%= hit._source.download_count %> downloads</i>
      <br/>
        <% hit._source.authors.forEach((author) => { %>
          <i> <%= author.name %> </i>
        <% }) %>
    <ul>
      <% hit._source.subjects.forEach((subject) => { %>
        <li>
          <%= subject %>
        </li>
      <% }) %>
    </ul>
    </p>
  </li>
<% })%>
</ul>
